@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&display=swap');

.playfair-display- {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  

body{
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #32b138;
    background-color: #000000;
    margin: 0;
}

.heading{
   font-size: 5rem;
   text-transform: uppercase;
   text-align: center;
   margin: 0;
   background-color: #00cc00;
   background-image: linear-gradient(170deg,#7800c8 0%, #5061f8 30%,#70e7fc 77%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}  